* {
    box-sizing: border-box;
}

main {
    padding: 20px;
    padding-bottom: 100px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    position: relative; 
}


nav a::before {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: #fff; 
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.3s ease-out; 
}


nav a:hover::before {
    transform: scaleX(1); 
    transform-origin: bottom left;
}

main {
    padding: 20px;
}

footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    main {
        padding: 10px;
        padding-bottom: 120px;
    }

    .product-list {
        justify-content: flex-start; 
    }

    .product-card {
        width: calc(50% - 20px); 
        margin: 10px;
    }

    .product-card img {
        max-width: calc(100% - 20px); 
        height: auto;
    }

    .product-card h2 {
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    .product-card p {
        font-size: 1em;
        margin-bottom: 10px;
    }
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
    width: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card img {
    max-width: 300px;
    max-height: 300px;
}

.product-card h2 {
    margin-bottom: 10px;
}

.product-card p {
    margin-bottom: 20px;
}

.product-card button {
    cursor: pointer;
}

.product-list {
    margin-bottom: 120px;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .product-list {
        justify-content: space-between; 
    }

    .product-card {
        width: calc(50% - 20px); 
        margin: 10px;
        box-sizing: border-box;
    }

    .product-card img {
        max-width: 100%;
        height: auto;
        max-height: 300px; 
    }

    .product-card h2 {
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    .product-card p {
        font-size: 1em;
        margin-bottom: 10px;
    }
}
